@use "variables" as *;
#schedule {
    display: grid;
    justify-items: center;
    align-items: start;
    gap: 3px;
    overflow: auto;
    width: var(--schedule-width, inherit);
    height: var(--schedule-height, inherit);
    background-color: var(--schedule-bg);
    color: var(--schedule-color, inherit);
    border-radius: var(--schedule-radius);
    font-family: var(--schedule-font-family, inherit);
    font-size: var(--schedule-font-size, 0.75em);
    grid-template-columns: minmax(45px, 1fr) 1px minmax(15.5px, 0.25fr) 1px minmax(62px, 1fr) 1px minmax(62px, 1fr) 1px minmax(62px, 1fr) 1px minmax(62px, 1fr) 1px minmax(62px, 1fr) 1px minmax(15.5px, 0.25fr);
    grid-template-rows: 45px repeat(146, 4px);
}
.complet::after {
    content: " COMPLET";
}
.time {
    grid-column: 1 / 2; 
    position: relative; 
    top: -10px; 
    justify-self: end; 
    margin-right: 13px; 
    overflow: auto;
}
.lundi {grid-column: 5 / 6;}
.mardi {grid-column: 7 / 8;}
.mercredi {grid-column: 9 / 10;}
.jeudi {grid-column: 11 / 12;}
.vendredi {grid-column: 13 / 14;}
.day {grid-row: 1;}
.h8 {grid-row: 2;}
.h8-30 {grid-row: 8;}
.h9 {grid-row: 14;}
.h9-30 {grid-row: 20;}
.h10 {grid-row: 26;}
.h10-30 {grid-row: 32;}
.h11 {grid-row: 38;}
.h11-30 {grid-row: 44;}
.h12 {grid-row: 50;}
.h12-30 {grid-row: 56;}
.h13 {grid-row: 62;}
.h13-30 {grid-row: 68;}
.h14 {grid-row: 74;}
.h14-30 {grid-row: 80;}
.h15 {grid-row: 86;}
.h15-30 {grid-row: 92;}
.h16 {grid-row: 98;}
.h16-30 {grid-row: 104;}
.h17 {grid-row: 110;}
.h17-30 {grid-row: 116;}
.h18 {grid-row: 122;}
.h18-30 {grid-row: 128;}
.h19 {grid-row: 134;}
.h19-30 {grid-row: 140;}
.h20 {grid-row: 146;}
.r-line, .c-line {background-color: var(--schedule-line-color, #dadce0);}//#eaecef
.r-line {grid-column: 3 / 16; height: 1px; width: 100%;}
.c-line {grid-row: 1 / 150; height: 100%; width: 1px;}
.c4 {grid-column: 4;}
.c6 {grid-column: 6;}
.c8 {grid-column: 8;}
.c10 {grid-column: 10;}
.c12 {grid-column: 12;}
.c14 {grid-column: 14;}

//Schedule-item
.schedule-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: var(--item-width, 62px);
    width: 95%;
    height: var(--item-height, 100%);
    padding: var(--item-padding, 10px);
    box-shadow: 0 0 2px #163d6099;
    border-radius: var(--item-radius, 8px);
    background-color: #fff;
    font-family: var(--item-font-family, inherit);
    font-size: var(--item-font-size, 0.75em);
    @media(min-width: $large) {--item-font-size: 0.8em;}
    a:link {
        color: inherit;
    }
}
.initiation {
    border: 3px solid $initiation;
}
.niveau1 {
    border: 3px solid $niveau1;
}
.niveau2 {
    border: 3px solid $niveau2;
}
.niveau3 {
    border: 3px solid $niveau3;
}
.niveau4 {
    border: 3px solid $niveau4;
}
.niveau5 {
    border: 3px solid $niveau5;
}
.niveau-default {
    border: 3px solid $niveau-default;
}
.legende-age {
    list-style: none;
    margin-bottom: 2em;
    @media(max-width: 378px) {font-size: 0.9em;}
}
.legende-age  li:nth-child(-n+6)::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 1.5px;
    width: 1.5rem;
    height: 1.5rem;
    border: var(--item-border, 0.8px solid #163d6099);
    border-radius: 50%;
    margin-right: 0.75rem;
}
.legende-age li:nth-child(1)::before {
    background-color: $initiation;
}
.legende-age li:nth-child(2)::before {
    background-color: $niveau1;
}
.legende-age li:nth-child(3)::before {
    background-color: $niveau2;
}
.legende-age li:nth-child(4)::before {
    background-color: $niveau3;
}
.legende-age li:nth-child(5)::before {
    background-color: $niveau4;
}
.legende-age li:nth-child(6)::before {
    background-color: $niveau5;
}
/*
.start-8-00 {grid-row-start: 2;}
.start-8-05 {grid-row-start: 3;}
.end-8-05 {grid-row-end: 3;}
.start-8-10 {grid-row-start: 4;}
.end-8-10 {grid-row-end: 4;}
.start-8-15 {grid-row-start: 5;}
.end-8-15 {grid-row-end: 5;}
.start-8-20 {grid-row-start: 6;}
.end-8-20 {grid-row-end: 6;}
.start-8-25 {grid-row-start: 7;}
.end-8-25 {grid-row-end: 7;}
.start-8-30 {grid-row-start: 8;}
.end-8-30 {grid-row-end: 8;}
.start-8-35 {grid-row-start: 9;}
.end-8-35 {grid-row-end: 9;}
.start-8-40 {grid-row-start: 10;}
.end-8-40 {grid-row-end: 10;}
.start-8-45 {grid-row-start: 11;}
.end-8-45 {grid-row-end: 11;}
.start-8-50 {grid-row-start: 12;}
.end-8-50 {grid-row-end: 12;}
.start-8-55 {grid-row-start: 13;}
.end-8-55 {grid-row-end: 13;}
.start-9-00 {grid-row-start: 14;}
.end-9-00 {grid-row-end: 14;}
.start-9-05 {grid-row-start: 15;}
.end-9-05 {grid-row-end: 15;}
.start-9-10 {grid-row-start: 16;}
.end-9-10 {grid-row-end: 16;}
.start-9-15 {grid-row-start: 17;}
.end-9-15 {grid-row-end: 17;}
.start-9-20 {grid-row-start: 18;}
.end-9-20 {grid-row-end: 18;}
.start-9-25 {grid-row-start: 19;}
.end-9-25 {grid-row-end: 19;}
.start-9-30 {grid-row-start: 20;}
.end-9-30 {grid-row-end: 20;}
.start-9-35 {grid-row-start: 21;}
.end-9-35 {grid-row-end: 21;}
.start-9-40 {grid-row-start: 22;}
.end-9-40 {grid-row-end: 22;}
.start-9-45 {grid-row-start: 23;}
.end-9-45 {grid-row-end: 23;}
.start-9-50 {grid-row-start: 24;}
.end-9-50 {grid-row-end: 24;}
.start-9-55 {grid-row-start: 25;}
.end-9-55 {grid-row-end: 25;}
.start-10-00 {grid-row-start: 26;}
.end-10-00 {grid-row-end: 26;}
.start-10-05 {grid-row-start: 27;}
.end-10-05 {grid-row-end: 27;}
.start-10-10 {grid-row-start: 28;}
.end-10-10 {grid-row-end: 28;}
.start-10-15 {grid-row-start: 29;}
.end-10-15 {grid-row-end: 29;}
.start-10-20 {grid-row-start: 30;}
.end-10-20 {grid-row-end: 30;}
.start-10-25 {grid-row-start: 31;}
.end-10-25 {grid-row-end: 31;}
.start-10-30 {grid-row-start: 32;}
.end-10-30 {grid-row-end: 32;}
.start-10-35 {grid-row-start: 33;}
.end-10-35 {grid-row-end: 33;}
.start-10-40 {grid-row-start: 34;}
.end-10-40 {grid-row-end: 34;}
.start-10-45 {grid-row-start: 35;}
.end-10-45 {grid-row-end: 35;}
.start-10-50 {grid-row-start: 36;}
.end-10-50 {grid-row-end: 36;}
.start-10-55 {grid-row-start: 37;}
.end-10-55 {grid-row-end: 37;}
.start-11-00 {grid-row-start: 38;}
.end-11-00 {grid-row-end: 38;}
.start-11-05 {grid-row-start: 39;}
.end-11-05 {grid-row-end: 39;}
.start-11-10 {grid-row-start: 40;}
.end-11-10 {grid-row-end: 40;}
.start-11-15 {grid-row-start: 41;}
.end-11-15 {grid-row-end: 41;}
.start-11-20 {grid-row-start: 42;}
.end-11-20 {grid-row-end: 42;}
.start-11-25 {grid-row-start: 43;}
.end-11-25 {grid-row-end: 43;}
.start-11-30 {grid-row-start: 44;}
.end-11-30 {grid-row-end: 44;}
.start-11-35 {grid-row-start: 45;}
.end-11-35 {grid-row-end: 45;}
.start-11-40 {grid-row-start: 46;}
.end-11-40 {grid-row-end: 46;}
.start-11-45 {grid-row-start: 47;}
.end-11-45 {grid-row-end: 47;}
.start-11-50 {grid-row-start: 48;}
.end-11-50 {grid-row-end: 48;}
.start-11-55 {grid-row-start: 49;}
.end-11-55 {grid-row-end: 49;}
.start-12-00 {grid-row-start: 50;}
.end-12-00 {grid-row-end: 50;}
.start-12-05 {grid-row-start: 51;}
.end-12-05 {grid-row-end: 51;}
.start-12-10 {grid-row-start: 52;}
.end-12-10 {grid-row-end: 52;}
.start-12-15 {grid-row-start: 53;}
.end-12-15 {grid-row-end: 53;}
.start-12-20 {grid-row-start: 54;}
.end-12-20 {grid-row-end: 54;}
.start-12-25 {grid-row-start: 55;}
.end-12-25 {grid-row-end: 55;}
.start-12-30 {grid-row-start: 56;}
.end-12-30 {grid-row-end: 56;}
.start-12-35 {grid-row-start: 57;}
.end-12-35 {grid-row-end: 57;}
.start-12-40 {grid-row-start: 58;}
.end-12-40 {grid-row-end: 58;}
.start-12-45 {grid-row-start: 59;}
.end-12-45 {grid-row-end: 59;}
.start-12-50 {grid-row-start: 60;}
.end-12-50 {grid-row-end: 60;}
.start-12-55 {grid-row-start: 61;}
.end-12-55 {grid-row-end: 61;}
.start-13-00 {grid-row-start: 62;}
.end-13-00 {grid-row-end: 62;}
.start-13-05 {grid-row-start: 63;}
.end-13-05 {grid-row-end: 63;}
.start-13-10 {grid-row-start: 64;}
.end-13-10 {grid-row-end: 64;}
.start-13-15 {grid-row-start: 65;}
.end-13-15 {grid-row-end: 65;}
.start-13-20 {grid-row-start: 66;}
.end-13-20 {grid-row-end: 66;}
.start-13-25 {grid-row-start: 67;}
.end-13-25 {grid-row-end: 67;}
.start-13-30 {grid-row-start: 68;}
.end-13-30 {grid-row-end: 68;}
.start-13-35 {grid-row-start: 69;}
.end-13-35 {grid-row-end: 69;}
.start-13-40 {grid-row-start: 70;}
.end-13-40 {grid-row-end: 70;}
.start-13-45 {grid-row-start: 71;}
.end-13-45 {grid-row-end: 71;}
.start-13-50 {grid-row-start: 72;}
.end-13-50 {grid-row-end: 72;}
.start-13-55 {grid-row-start: 73;}
.end-13-55 {grid-row-end: 73;}
.start-14-00 {grid-row-start: 74;}
.end-14-00 {grid-row-end: 74;}
.start-14-05 {grid-row-start: 75;}
.end-14-05 {grid-row-end: 75;}
.start-14-15 {grid-row-start: 77;}
.end-14-15 {grid-row-end: 77;}
.start-14-30 {grid-row-start: 80;}
.end-14-30 {grid-row-end: 80;}
.start-14-45 {grid-row-start: 83;}
.end-14-45 {grid-row-end: 83;}
.start-15 {grid-row-start: 86;}
.end-15 {grid-row-end: 86;}
.start-15-15 {grid-row-start: 89;}
.end-15-15 {grid-row-end: 89;}
.start-15-30 {grid-row-start: 92;}
.end-15-30 {grid-row-end: 92;}
.start-15-45 {grid-row-start: 95;}
.end-15-45 {grid-row-end: 95;}
.start-16 {grid-row-start: 98;}
.end-16 {grid-row-end: 98;}
.start-16-15 {grid-row-start: 101;}
.end-16-15 {grid-row-end: 101;}
.start-16-30 {grid-row-start: 104;}
.end-16-30 {grid-row-end: 104;}
.start-16-45 {grid-row-start: 107;}
.end-16-45 {grid-row-end: 107;}
.start-17 {grid-row-start: 110;}
.end-17 {grid-row-end: 110;}
.start-17-15 {grid-row-start: 113;}
.end-17-15 {grid-row-end: 113;}
.start-17-30 {grid-row-start: 116;}
.end-17-30 {grid-row-end: 116;}
.start-17-45 {grid-row-start: 119;}
.end-17-45 {grid-row-end: 119;}
.start-18 {grid-row-start: 122;}
.end-18 {grid-row-end: 122;}
.start-18-15 {grid-row-start: 125;}
.end-18-15 {grid-row-end: 125;}
.start-18-30 {grid-row-start: 128;}
.end-18-30 {grid-row-end: 128;}
.start-18-45 {grid-row-start: 131;}
.end-18-45 {grid-row-end: 131;}
.start-19 {grid-row-start: 134;}
.end-19 {grid-row-end: 134;}
.start-19-15 {grid-row-start: 137;}
.end-19-15 {grid-row-end: 137;}
.start-19-30 {grid-row-start: 140;}
.end-19-30 {grid-row-end: 140;}
.start-19-45 {grid-row-start: 143;}
.end-19-45 {grid-row-end: 143;}
.end-20 {grid-row-end: 146;}
*/